# These are Required
ADMIN_PASS=
IDP_NAME=
SECRET_SALT=

# These are Optional
ADMIN_EMAIL=
ADMIN_NAME=
ANALYTICS_ID=
BASE_URL_PATH=
COMPOSER_ALLOW_SUPERUSER=1
COMPOSER_AUTH={"github-oauth":{"github.com":"token-here"}}
COMPOSER_CACHE_DIR=/composer
HUB_MODE=false
ENABLE_DEBUG=


# === AWS AppConfig (optional) ===

# The AWS region in use
#AWS_REGION=

# The AppConfig Application ID (or name)
#APP_ID=

# The AppConfig Configuration Profile ID (or name)
#CONFIG_ID=

# The AppConfig Environment ID (or name)
#ENV_ID=


# LOGGING_LEVEL default is NOTICE, or may be one of: ERR, WARNING, NOTICE, INFO, DEBUG
LOGGING_LEVEL=

# LOGGING_HANDLER default is stderr, or may be one of: syslog, file, errlog, stderr
LOGGING_HANDLER=

# Session store configuration. SESSION_STORE_TYPE can be "sql" or "phpsession"
SESSION_STORE_TYPE=
SESSION_DURATION=
MYSQL_HOST=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

PASSWORD_CHANGE_URL=
PASSWORD_FORGOT_URL=
HELP_CENTER_URL=
SAML20_IDP_ENABLE=
SECURE_COOKIE=
SHOW_SAML_ERRORS=
TIMEZONE=
XDEBUG_REMOTE_HOST=

# expirychecker config

# The URL to send a user to for changing their password.
# Example: https://pw.example.com/#/password/create
PASSWORD_CHANGE_URL=

# profilereview config

# The URL to send a user to for setting up their profile.
# Example: https://pw.example.com/#/
PROFILE_URL=

# An absolute URL the user can go to to learn more about MFA.
MFA_LEARN_MORE_URL=

# MFA config

# The URL to send a user to for setting up their MFA.
# Example: https://pw.example.com/#/2sv/intro
MFA_SETUP_URL=

# silauth config

# List any IP addresses and/or IP address ranges (CIDR) that should NOT be
# rate-limited but which might be included in REMOTE_ADDR or the X-Forwarded-For
# header (such as your application's load balancer).
# Example: TRUSTED_IP_ADDRESSES=11.22.33.44,11.22.55.0/24
TRUSTED_IP_ADDRESSES=

# See "https://developers.google.com/recaptcha/docs/faq" for test key/secret.
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET=
