COMPOSER_ALLOW_SUPERUSER=1
COMPOSER_CACHE_DIR=/composer
COMPOSER_AUTH={"github-oauth":{"github.com":"token-here"}}
LOGENTRIES_KEY=
ADMIN_EMAIL=
ADMIN_PASS=
SECRET_SALT=
SECURE_COOKIE=
SHOW_SAML_ERRORS=
XDEBUG_REMOTE_HOST=
ADMIN_PROTECT_INDEX_PAGE=