
### Required ENV vars ###
MFA_TOTP_apiBaseUrl=
MFA_TOTP_apiKey=
MFA_TOTP_apiSecret=

MFA_WEBAUTHN_apiBaseUrl=
MFA_WEBAUTHN_apiKey=
MFA_WEBAUTHN_apiSecret=
MFA_WEBAUTHN_appId=
MFA_WEBAUTHN_rpDisplayName=
MFA_WEBAUTHN_rpId=

# Comma separated array of origins allowed as relying parties (with scheme, without port or path)
RP_ORIGINS=

### Optional ENV vars ###
COMPOSER_AUTH="{\"github-oauth\": {\"github.com\": \"YOUR TOKEN HERE\"}}"
