:root {
  --bs-primary: rgb(0, 138, 175);
  --bs-primary-rgb: 0, 138, 175;
  --bs-link-color: rgb(0, 138, 175);
  --bs-link-hover-color: rgb(3, 77, 138);
  --bs-focus-ring-color: rgba(0, 138, 175, 0.25);
}

.btn-primary {
  --bs-btn-bg: rgb(0, 138, 175);
  --bs-btn-border-color: rgb(0, 138, 175);
  --bs-btn-hover-bg: rgb(3, 77, 138);
  --bs-btn-hover-border-color: rgb(3, 77, 138);
  --bs-btn-active-bg: rgb(3, 77, 138);
  --bs-btn-active-border-color: rgb(3, 77, 138);
  --bs-btn-focus-shadow-rgb: 0, 138, 175;
}

.btn-outline-primary {
  --bs-btn-color: rgb(0, 138, 175);
  --bs-btn-border-color: rgb(0, 138, 175);
  --bs-btn-hover-bg: rgb(0, 138, 175);
  --bs-btn-hover-border-color: rgb(0, 138, 175);
  --bs-btn-active-bg: rgb(3, 77, 138);
  --bs-btn-active-border-color: rgb(3, 77, 138);
  --bs-btn-focus-shadow-rgb: 0, 138, 175;
}
