global
    daemon

defaults
    log global
    log 127.0.0.1:514 local0
    mode http
    option httpclose
    option httplog
    option dontlognull
    retries 3
    option redispatch
    timeout connect 5000
    timeout client 10000
    timeout server 10000
    default-server init-addr last,libc,none check inter 2s resolvers docker

# Use Docker's built-in DNS server to resolve container names dynamically
resolvers docker
    nameserver dns1 127.0.0.11:53

frontend in_80
    bind *:80

    # Force HTTPS
    redirect scheme https if !{ ssl_fc }

frontend in_443
    bind *:443 ssl crt /usr/local/etc/haproxy/wildcard.crt

    use_backend hub-https if { req.hdr(host) -i ssp-hub.local }
    use_backend idp1-https if { req.hdr(host) -i ssp-idp1.local }
    use_backend idp2-https if { req.hdr(host) -i ssp-idp2.local }
    use_backend idp3-https if { req.hdr(host) -i ssp-idp3.local }
    use_backend idp4-https if { req.hdr(host) -i ssp-idp4.local }
    use_backend sp1-https if { req.hdr(host) -i ssp-sp1.local }
    use_backend sp2-https if { req.hdr(host) -i ssp-sp2.local }
    use_backend sp3-https if { req.hdr(host) -i ssp-sp3.local }
    use_backend sp4-https if { req.hdr(host) -i ssp-sp4.local }
    use_backend sp5-https if { req.hdr(host) -i ssp-sp5.local }
    use_backend pwmanager-https if { req.hdr(host) -i pwmanager.local }

    default_backend default-index

backend default-index
    http-request return status 200 content-type "text/html" lf-file /usr/local/etc/haproxy/index.html

backend pwmanager-https
    server pwmanager.local pwmanager.local:443 check ssl verify none

backend hub-https
    server ssp-hub.local ssp-hub.local:443 check ssl verify none

backend sp1-https
    server ssp-sp1.local ssp-sp1.local:443 check ssl verify none

backend sp2-https
    server ssp-sp2.local ssp-sp2.local:443 check ssl verify none

backend sp3-https
    server ssp-sp3.local ssp-sp3.local:443 check ssl verify none

backend sp4-https
    server ssp-sp4.local ssp-sp4.local:443 check ssl verify none

backend sp5-https
    server ssp-sp5.local ssp-sp5.local:443 check ssl verify none

backend idp1-https
    server ssp-idp1.local ssp-idp1.local:443 check ssl verify none

backend idp2-https
    server ssp-idp2.local ssp-idp2.local:443 check ssl verify none

backend idp3-https
    server ssp-idp3.local ssp-idp3.local:443 check ssl verify none

backend idp4-https
    server ssp-idp4.local ssp-idp4.local:443 check ssl verify none

listen stats
    bind *:7001
    maxconn 10
    stats enable
    stats uri /
    stats auth admin1:admin1
